<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myflashcard">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".DashboardActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".AnswerActivity"
            android:label="@string/AnswerActivityTitle"
            android:screenOrientation="portrait" />

        <provider
            android:name=".DataProvider"
            android:authorities="com.example.myflashcard.DataProvider" />

        <receiver android:name=".FlashcardWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/flashcard_widget_info" />
        </receiver>

        <receiver
            android:name=".NotifyReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.example.myflashcard.notif"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>